/* Base Style for GONN.ORG */
html {background:#fff; font-size: 5px; color: #000;} 
body {margin:0; padding:0 5rem; font-size: 3rem; font-family:"Times","Times New Roman",serif,sans-serif;} 
header, section, div, footer {margin: 0; padding: 0 0 2rem 0; display: block;}
header {padding-bottom: 0;}
footer {margin-top: 2rem; padding-top: 1rem; border-top: 1px solid #555; color:#333; font-size:3rem;}
h1, h2, h3, h4, h5 {margin: 0; padding: 3rem 0 1rem 0; color: #555; font-size: 4rem; font-weight: normal;}
h1 {font-size: 6rem; padding-top: 1rem;}
h2 {font-size: 5rem;} 
h3 {font-size: 4rem;}
hr {border-top: 1px solid #555; border-bottom: 0; margin-bottom: 3rem; display: block;}
p  {margin: 0rem; padding: 1rem 0rem;}
pre {display: block; background-color: #eee; padding: 1rem; color: #555; white-space: pre-wrap;}
a {text-decoration: none; color: #06f; padding: 0; outline: none;}
a:active {color: #f51;} 
a:hover, a:focus {color: #f60;}
.strike {text-decoration: line-through; color: #777;}
.hide {display:none;}
.yi-crest {stroke: white; stroke-width: 5; fill: red; background: red; height: 7rem; width: 7rem; padding: 5rem 1rem 1rem 1rem;}
.yi-crest:hover {background: linear-gradient(yellow,red);}